/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/10/2017, 10:18:49
    Author     : maria_sabino
*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
    font-size: 12px;
}
#container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}
header{
    width: 100%;
    text-align: center;
    background-color: black;
}
header #logo .logo{
    width: 21%;
    height: 200px;
}
#menu{
    width: 100%;
    border: 1px solid red;
    text-align: center;
}
#menu .navegacao ul{
    list-style-type: none;
}
#menu .navegacao ul li {
    display: inline-block;
    padding: 20px;
    font-size: 18px;
}
#menu .navegacao ul li a {
    	display:block;
	padding:20px;
	text-decoration:none;
	color:#000;
}
#menu .navegacao ul li a:hover{
        font-size:18px;
	font-weight:bold;
	border: 1px solid;
	background:#DCDCDC;
}
#galeria {
    width: 100%;
    text-align: center;
}
#galeria #tit_novidade {
    text-align: center;
    widht:100%;    
}
#galeria #tit_novidades ul{
    list-style-type: none;
    height: 80px;
}
#galeria #tit_novidades ul li{
    display: inline-block;
    margin-top: 10px;
    padding: 20px;
}
#galeria #tit_novidades ul li .preto{
 color:#000;   
}
#galeria #tit_novidades ul li .cinza{
 color:#CCC;   
}